* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





h1,
h2,
h3,
h4,
h5,
h6,
body,
button {
    font-family: 'Poppins', sans-serif !important;
}

p {
    font-family: 'Open Sans', sans-serif !important;

}

/* global styles*/

button {
    border: none;
}


a {
    text-decoration: none !important;
}

ul {
    padding: 0 !important;
}


/* header-section start here */

#header-section {
    background-color: #5b5656;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.top-header {
    width: auto;
    display: flex;
    align-items: center;
}


.logo {
    width: 50px; 
    background-color: #fff;
    text-align: center;
    padding: 5px 0px;
    border: 1px solid #000;
}

.logo>img {
    width: 70%;
}


.menu {
    /* margin: 0 auto; */
}




.menu ul {
    display: flex;
    list-style: none;
    margin: 0 !important;
}


#toggle-icon {
    background-color: rgb(255, 255, 255 , 0.5);
    padding: 2px 5px ;
    display: none;
    font-size: 25px;
    color: #000;
}


#header-section li>a {
    display: block;
    padding: 10px 20px;
    color: #000;
    font-weight: 500;
}

.header-btn>button {
    padding: 8px 10px !important;
    font-size: 12px;
    color: #fff;
    background-color: #e80913;
}

#header-section button:hover {
    background-color: transparent !important;
    color: #000;
    border: 1px solid #fff;
}










/* ----------------Mobile responsiveness  starts here------------ */

@media(max-width:768px) {
    .header-container {
        flex-direction: column;
         align-items: normal;


    }


    #toggle-icon {
        display: block;
    }

    .menu {
        width: 100%;
        max-height: 0;
        transition: max-height 0.5s ease;
        overflow: hidden;
    }

    .active-menu {
        max-height: 400px;

    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }


    .top-header {
        justify-content: space-between;
    }




    .header-btn{
        text-align: center;
    }





}


    /* tablet esponseiveness start here */




@media (min-width:769px) and (max-width:992px) {
    .logo {
        width: 60%;
    }

    .logo>img {
        width: 61%;
    }

}