* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





h1,
h2,
h3,
h4,
h5,
h6,
body,
button {
    font-family: 'Poppins', sans-serif !important;
}



h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1;
}

h3,
h4,
h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}




p {
    font-family: 'Open Sans', sans-serif !important;
    line-height: 1.8;
    color: #111111;
    font-size: 18px;
}

/* global styles*/

button {
    border: none;
    background-color: #e80913;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 46px 12px 45px;
    color: #ffffff;
    font-size: 16px;
}


a {
    text-decoration: none !important;
}

ul {
    padding: 0 !important;
}


/* header-section start here */

#header-section {
    background-color: #5b5656;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.top-header {
    width: auto;
    display: flex;
    align-items: center;
}


.logo {
    width: 50px;
    background-color: #fff;
    text-align: center;
    padding: 5px 0px;
    border: 1px solid #000;
}

.logo>img {
    width: 70%;
}


.menu {
    /* margin: 0 auto; */
}




.menu ul {
    display: flex;
    list-style: none;
    margin: 0 !important;
}


#toggle-icon {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 2px 5px;
    display: none;
    font-size: 25px;
    color: #000;
}


#header-section li>a {
    display: block;
    padding: 10px 20px;
    color: #000;
    font-weight: 500;
}

.header-btn>button {
    padding: 8px 10px !important;
    font-size: 12px;
    color: #fff;
    background-color: #e80913;
}

#header-section button:hover {
    background-color: transparent !important;
    color: #000;
    border: 1px solid #fff;
}


/* header section ends here */

/* banner section start here */


.banner-heading>h1 {
    color: #e80913;
}

.left-banner {
    padding: 80px 40px;

}


.right-banner {
    height: 80vh;
    background: url("./images/banner-bg-image.jpg");
    background-size: cover;
    background-position: right;
}

/* banner section edns here */

/* red section starts here */

#red-section {
    background-color:#e80913 ;
}


.red-container {
    padding:  40px;
}



#red-section h4 {
    font-weight: 500;
}












/* red section ends here */



/* ----------------Mobile responsiveness  starts here------------ */

@media(max-width:768px) {


    /* header responsiveness start here */



    .header-container {
        flex-direction: column;
        align-items: normal;


    }


    #toggle-icon {
        display: block;
    }

    .menu {
        width: 100%;
        max-height: 0;
        transition: max-height 0.5s ease;
        overflow: hidden;
    }

    .active-menu {
        max-height: 400px;

    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }


    .top-header {
        justify-content: space-between;
    }




    .header-btn {
        text-align: center;
    }

    /* header responsivenesss ends here */



}


/*---------- tablet esponseiveness start here */




@media (min-width:769px) and (max-width:992px) {


    /* header section responsiveness start here */

    .logo {
        width: 60%;
    }

    .logo>img {
        width: 61%;
    }

}