* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





h1,
h2,
h3,
h4,
h5,
h6,
body,
button {
    font-family: 'Poppins', sans-serif !important;
}



h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.1;
}

h2 {
    font-size: 35px;
    font-weight: 600;
}


h3,
h4,
h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000;
}




p {
    font-family: 'Open Sans', sans-serif !important;
    line-height: 1.8;
    color: #111111;
    font-size: 16px;
    white-space: pre-line;
}

/* custom global classes */

.margin-b {
    margin-bottom: 30px;
}

.margin-t {
    margin-top: 30px;
}



/* global styles*/

button {
    border: none;
    background-color: #e80913;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 46px 12px 45px;
    color: #ffffff;
    font-size: 16px;
}


a {
    text-decoration: none !important;
    color: #000;
}

ul {
    padding: 0 !important;
}


/* header-section start here */

#header-section {
    background-color: #5b5656;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.top-header {
    width: auto;
    display: flex;
    align-items: center;
}


.logo {
    width: 50px;
    background-color: #fff;
    text-align: center;
    padding: 5px 0px;
    border: 1px solid #000;
}

.logo>img {
    width: 70%;
}


.menu {
    /* margin: 0 auto; */
}




.menu ul {
    display: flex;
    list-style: none;
    margin: 0 !important;
}


#toggle-icon {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 2px 5px;
    display: none;
    font-size: 25px;
    color: #000;
}


#header-section li>a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-weight: 500;
}

.header-btn>button {
    padding: 8px 10px !important;
    font-size: 12px;
    color: #fff;
    background-color: #e80913;
}

#header-section button:hover {
    background-color: transparent !important;
    color: #fff;
    border: 1px solid #fff;
}


/* header section ends here */

/* banner section start here */


.banner-heading>h1 {
    color: #e80913;
}

.left-banner {
    padding: 80px 40px;

}

.left-btn button:hover {
    background-color: #000;
}


.right-banner {
    height: 80vh;
    background: url("./images/banner-bg-image.jpg");
    background-size: cover;
    background-position: right;
}

/* banner section edns here */

/* red section starts here */

#red-section {
    background-color: #e80913;
}


.red-container {
    padding: 40px;
}



#red-section h4 {
    font-weight: 500;
    color: #fff;
}



/* red section ends here */

/* Gym section starts here */

#gym-section {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("./images/background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.gymcontainer {
    padding: 80px 40px;
}



.gym-heading {
    padding: 12px 36px;
    background-color: #fff
}


.gym-paragrapgh {
    margin-top: 20px;
}

.gym-paragrapgh>p {
    color: #fff;
}


.gym-btn>button :hover {
    background-color: #000;
}



/* Gym section ends here */

/* next-level starts here */



.next-level-container {
    padding: 80px 40px;

}




.next-level-options p {
    font-size: 21px;
}

.next-level-options h4 {
    font-size: 24px;
}

.gym-top-right-container>img {
    width: 100%;
}

.gym-top-bottom-container1>img {
    width: 100%;
}

.gym-top-bottom-container2>img {
    width: 100%;
}


/* next-level section ends here */


/* workouot section starts here */



#workout-section {
    background-color: #e5e5e5;
}



.workout-container {
    padding: 40px 0px 0px 40px;
}


.left-workout-container>img {
    width: 100%;
}



.right-workout-container {
    background-color: #fff;
    padding: 50px 30px 60px;
    border: 2px solid #eee;
    position: relative;
    bottom: 31%;
    left: 70%;
}







/* workout section ends here */

/* inspiration section starts here */

#inspiration-section {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("./images/inspiration--bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.inspiration-container {
    padding: 40px 80px;

}

.inspiration-content {
    text-align: center;
}

.inspiration-card {
    text-align: center;
    background-color: #fff;
    border: 1px solid #000;

}

.inspiration-heading h2 {
    color: #fff;
}

.inspiration-heading h1 {
    color: #fff;
}

.inspiration-paragrapgh p {
    color: #c0c0c0;
    padding: 20px 200px;
}

.inspiration-image {
    aspect-ratio: 1/1;
    margin-bottom: 20px;
    padding-top: 20px;
}

.inspiration-image img {
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.inspiration-btn a {
    display: inline-block;
    border-bottom: 2px solid orange;

}


/* inspiration section ends here */


/* App section starts here */

.app-container {
    padding: 40px 80px;
}

.app-description {
    margin-bottom: 60px;
}

.mobile-app-btn button {
    background-color: #f6979c;
    color: #e80913
}

.store-btn span {
    margin-right: 10px;
    aspect-ratio: 1/1;

}

.store-btn img {
    width: 30%;
}

.left-app-parent {
    display: flex;
    align-items: center;
}

.right-app-container {
    height: 70vh;
    background: url("./images/app-right-image.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

}

/* App section ends here */

/* membership section starts here */

#membership-section {
    background: linear-gradient(to bottom, transparent 0%, transparent 30%, #e5e5e5 30%, #e5e5e5 100%),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("./images/membership-bg-image.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.membership-container {
    padding: 40px 80px;
}

.membership-content {
    text-align: center;
}


.membership-card {
    background-color: #fff;
    padding: 70px 40px;
    text-align: center;
}

.membership-card-description p {
    margin-bottom: 30px;
    white-space: pre-line;
}

.membership-card-heading h3 {
    font-size: 30px;
    font-weight: 600;
}

.membership-btn a {
    border: 1px solid #e80913;
    padding: 10px 20px;
    background-color: transparent;
}

.membership-reviews-cards-parent {
    margin-top: 100px;
}

.memebership-review-card {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
    margin-top: 20px;
}


.review-name h4 {
    color: #e80913;
    font-weight: 500;
}

.quotations-mark i {
    margin-top: 10px;
    transform: rotate(180deg);
    font-size: 35px;
    color: #e80913;
}

.membership-read-btn {
    text-align: center;
}

/* memebership section ends here */


/* trade-mill section starts here */

#trade-mill {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("./images/next-level-bg-image.jpg");
    background-position: top;
    background-size: cover;


    display: flex;
    justify-content: center;
    align-items: center;
}

.trade-mill-container {
    text-align: center;
}

.trade-mill-heading h2 {
    color: #fff;
}


.trade-mill-description p {
    color: #fff;
    font-weight: 500;
}

.trade-mill-btns-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.trade-mill-btns-parent :nth-child(1) button {
    padding: 20px 30px;
}

.trade-mill-btns-parent :nth-child(2) button {
    background-color: transparent !important;
    border: 1px solid #fff;
}

/* trade-mill section ends here  */



/* Journey section starts here   */

#journey-section {
    /* height: 90vh; */

    background: linear-gradient(to bottom, #e5e5e5 0%, #e5e5e5 70%, #fff 70%, #fff 100%);
    background-color: #e5e5e5;
}

.journey-container {
    padding: 40px 80px;
}

.left-journey {
    min-height: 70vh;
    background-image: url("./images/journey-left-image.jpg");
    background-position: center;
    background-size: cover;
}

.right-journey {
    text-align: center;
}

.journey-contact {
    margin-top: 30px;
}

.journey-contact span {
    font-weight: 500;
    font-size: 20px;
}

.journey-contact a {
    border-bottom: 1px solid orange;
}


.journey-row-2 {
    margin-top: 100px;
}

.journey-image-container1 {
    min-height: 330px;
    background-image: url("./images/inspiration-image3.jpg");
    background-position: top;
    background-size: cover;
}

.journey-image-container2 {
    margin-top: 50px;
    min-height: 330px;
    background-image: url("./images/journey-image2.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.journey-image-container3 {
    min-height: 330px;
    background-image: url("./images/chest-image.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.journey-image-container4 {
    margin-top: 50px;
    min-height: 330px;
    background-image: url("./images/inspiration-image1.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}


.right-booking ,.left-booking{
    padding:10px 20px;
}


.booking-row {
    margin-top: 100px;
}

.input-booking {
    display: inline-block;
}

.input-booking input {
    padding: 10px 90px 10px 10px;
    background-color: #e5e5e5;
    border: 0;
    outline: 0;
}

/* input ::placeholder {
    font-size: 10px 
} */


input::placeholder {
    font-size: 12px;
}

.booking-btn button {
    padding: 10px 30px;
}

.booking-btn {
    display: inline-block;
}

.booking-phone {
    margin-top: 60px;
}

/* Journey section ends here   */






/* ----------------Mobile responsiveness  starts here------------ */

@media(max-width:768px) {


    /* gloibal styles at tablet level */

    h1 {
        font-size: 40px;
    }



    /* header responsiveness start here */



    .header-container {
        flex-direction: column;
        align-items: normal;


    }


    #toggle-icon {
        display: block;
    }

    .menu {
        width: 100%;
        max-height: 0;
        transition: max-height 0.5s ease;
        overflow: hidden;
    }

    .active-menu {
        max-height: 400px;

    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }


    .top-header {
        justify-content: space-between;
    }




    .header-btn {
        text-align: center;
    }



    /* header responsivenesss ends here */

    /* gym-section responsiveness starts here */


    .gym-heading {
        padding: 30px 20px;
    }

    .gym-heading>h1 {
        font-size: 35px !important;
    }


    .gymcontainer {
        position: relative;
        top: 20%;
    }

    #gym-section {
        height: 120vh;
    }



    /* next-level responsiveness start here */


    .gym-top-bottom-container1 {
        margin-bottom: 30px;
    }



    .next-level-heading>h1 {
        font-size: 30px;
    }

    .next-level-options p {
        font-size: 13px;
    }


    .next-level-options h4 {
        font-size: 20px;
    }




    /* next-level responsiveness ends here */

    /* Workout section responsiveness start here */


    .right-workout-container {
        bottom: 4%;
        left: 28%;
    }

    .right-workout-container h1 {
        font-size: 30px;
    }

    .right-workout-container button {
        padding: 20px 30px;
    }


    /* Inspiration section starts here */

    .inspiration-container {
        padding: 40px;
    }

    .inspiration-heading h1 {
        font-size: 30px;
    }

    .inspiration-paragrapgh p {
        padding: 20px 0;
    }

    /*App section responsiveness  */


    .app-container {
        padding: 40px;
    }

    .store-btn img {
        width: 50%;
    }

    .store-btn :nth-child(1) {
        margin-bottom: 20px
    }

    .membership-container {
        padding: 40px;
    }

    .membership-card {
        margin-bottom: 20px;
    }

    /* trade mill section responsiveness */

    #trade-mill {
        height: 110vh;
    }

    .trade-mill-container {
        padding: 40px;
    }

    .trade-mill-btns-parent {
        flex-direction: column;
    }

    .trade-mill-btns-parent :nth-child(2) button {
        padding: 15px 60px;

    }

    .trade-mill-description {
        margin-bottom: 30px;
    }


    /* jounney section responsiveness */


    .journey-container {
        padding: 40px;
    }

    .left-journey {
        margin-bottom: 30px;
    }

    .journey-image-container1,
    .journey-image-container2,
    .journey-image-container3,
    .journey-image-container4 {
        margin-bottom: 20px;
    }

    .journey-image-container2 {
        margin-top: 0;
    }

    .journey-image-container4 {
        margin-top: 0;
    }


}


/*---------- tablet esponseiveness start here */




@media (min-width:768px) and (max-width:992px) {


    /* gloibal styles at tablet level */

    h1 {
        font-size: 40px;
    }


    h2 {
        font-size: 40px !important;
    }

    .container {
        padding: 40px 10px !important;
    }


    /* header section responsiveness start here */

    .logo {
        width: 10%;
    }

    .logo>img {
        width: 61%;
    }

    .header-btn>button {
        padding: 10px 10px !important;
    }


    /* red-section responsiveness start here */


    .options p {
        font-size: 14px;
    }



    /* gym responsiveness start here */


    .gym-heading h1 {
        font-size: 40px;
    }


    /* next-level responsiveness star here */



    .next-level-heading>h1 {
        font-size: 30px;
    }

    .next-level-options p {
        font-size: 13px;
    }


    .next-level-options h4 {
        font-size: 20px;
    }

    /* workout section responsiveness */


    .right-workout-container {
        bottom: 13%;
        left: 28%;
    }

    /* inspiration section starts here */


    .inspiration-container {
        padding: 40px 0;
    }

    .inspiration-paragrapgh p {
        padding: 20px 0px;
    }

    /* app section responsiveness */

    /* .app-container {
        padding: 40px 0px;
    } */

    .store-btn img {
        width: 25%;
    }

    .store-btn :nth-child(1) {
        margin-right: 10px;
    }

    .app-description p {
        margin-right: 90px;
    }

    .right-app-container {
        height: 80vh;
    }

    /* membership responsiveness added */

    .membership-container {
        padding: 40px 0px;
    }

    .membership-card {
        margin-bottom: 20px;
    }

    /* jounney section responsiveness */

    .left-journey {
        margin-bottom: 30px;
    }


    .journey-image-container1,
    .journey-image-container2,
    .journey-image-container3,
    .journey-image-container4 {
        min-height: 425px;
    }

    .journey-image-container3 {
        margin-top: 0px;
    }

    .journey-image-container2 {
        margin-top: 120px;
    }

    .journey-image-container4 {
        margin-top: 120px;
    }



}

/* ------------LAPTOP-RESPONSIVENESS START HERE */


@media (min-width:992px) and (max-width:1200px) {


    /* Global styles at laptop width */

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 40px;
    }



    .container {
        padding: 40px 0px;
    }



    /* next-level responsiveness star here */



    .next-level-heading>h1 {
        font-size: 30px;
    }

    .next-level-options p {
        font-size: 18px;
    }


    .next-level-options h4 {
        font-size: 20px;
    }


    /* workout section starts here */


    .right-workout-container {
        bottom: 40%;
    }


    /* inspiration section starts here */

    .inspiration-container {
        padding: 40px 0;
    }


    /* App section starts here */
    .app-container {
        padding: 40px;
    }

    .store-btn img {
        width: 35%;
    }

    /* membership section responsiveness*/

    .membership-container {
        padding: 40px;
    }

    /* trade mill section responsiveness */

    .trade-mill-heading h1 {
        font-size: 50px !important;
    }



}